@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="../../gato.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dibujo</h5>
        <p class="card-text">...</p>
        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Ir", "Dibujo")'">Ir</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../gato.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pintura</h5>
        <p class="card-text">...</p>
        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Ir", "Pintura")'">Ir</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../gato.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Murales</h5>
        <p class="card-text">...</p>
        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Ir", "Murales")'">Ir</button>
      </div>
    </div>
  </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="../../gato.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tatuajes</h5>
        <p class="card-text">...</p>
        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Ir", "Tatuajes")'">Ir</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../gato.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cosplay</h5>
        <p class="card-text">...</p>
        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Ir", "Cosplay")'">Ir</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../gato.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Música</h5>
        <p class="card-text">...</p>
        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Ir", "Musica")'">Ir</button>
      </div>
    </div>
  </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="C:\Users\victo\Desktop\Fotos\g3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Danza-Expresión Corporal</h5>
        <p class="card-text">...</p>
        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Ir", "Danza")'">Ir</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../gato.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ceramica</h5>
        <p class="card-text">...</p>
        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Ir", "Ceramica")'">Ir</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../gato.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Producción Audiovisual</h5>
        <p class="card-text">...</p>
        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Ir", "AudioVisual")'">Ir</button>
      </div>
    </div>
  </div>
  </div>
</div>

